<div class="container header-select-level">
  <div class="header-logo">
    <%= image_tag "rubylingo-logo-opacity0.png" %>
  </div>
  <div class="header-text-title">
    <h1>Student</h1>
  </div>
  <div class="student-img">
   <%= image_tag "student1.png" %>
  </div>
  <div class="container levels">
  <%= link_to 'Beginner', user_registration_path(user: { knowledge_level: 1 }), class: "btn_secondary", data: {turbo_method: :patch} %>
  <%= link_to 'Intermediate', user_registration_path(user: { knowledge_level: 2 }), class: "btn_secondary", data: {turbo_method: :patch} %>
  <%= link_to 'Advance', user_registration_path(user: { knowledge_level: 3 }), class: "btn_secondary", data: {turbo_method: :patch} %>
  </div>
  <div class="container slider">
  </div>
</div>
