<div class="footer">



        <div class="d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-nfc-symbol"></i>
            <%= link_to "Community", "#", class: "p nav-link" %>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <i class="fa-solid fa-magnifying-glass"></i>
            <%= link_to "Search", challenges_path,class: "p nav-link" %>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <i class="fa-regular fa-circle-play"></i>
            <%= link_to "Learn", challenges_path, class: "p nav-link" %>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <ul class="navbar-nav me-auto">
                <% if user_signed_in? %>
                <%= link_to profile_path(current_user), class: "navbar-brand" do %>
                    <%= cl_image_tag current_user.photo.key, class: "p avatar", alt: "dropdown menu" %>
                <% end %>
                <% else %>
                    <div class="d-flex flex-column justify-content-center align-items-center ">
                        <i class="fa-regular fa-user"></i>
                        <%= link_to "Login", new_user_session_path, class: "p nav-link" %>
                    </div>
                <% end %>
            </ul>
        </div>


</div>
