<div class=" my-4 question-challenge-title">
    <h1><%= @challenge.title %></h1>
    <div class="question-help">
        <i class="fa-regular fa-circle-question"></i>
        <p><%= link_to "Help", question_path(@question) %></p>
    </div>
</div>



<% if @question.present? %>

    <div class="question-title my-5">
        <div class="gem-i">
            <i class="fa-solid fa-gem"></i>
        </div>
        <div class="question-h4">
            <h4> <%= @question.content %> </h4>
        </div>
    </div>
    <%= render "answer_form" %>
    
<% else %>
    <div class="score">

        <% if @correct_answers_count.to_f / @challenge.questions.count <= 0.7 %>

           <div class="sad">
                <div class="score-title ">
                    <i class="fa-regular fa-face-frown"></i>
                    <p class="practice">You need more practice!</p>
                </div>
                <p>Your score:</p>
                <p class="total-score"> <%= @correct_answers_count %> / <%= @challenge.questions.count %></p>
                <%= link_to 'Try Again!', challenge_path(@challenge, restart: 1) %>
            </div>    
                      
        <% else %>

            <div class="happy">
                <div class="score-title">
                    <i class="fa-solid fa-circle-check check"></i>
                    <p class="done">Well done!</p>
                </div>
                <p>Your score:</p>
                <p class="total-score"> <%= @correct_answers_count %> / <%= @challenge.questions.count %></p>

                <% if @next_challenge %>
                    <%= link_to 'Next challenge', challenge_path(@next_challenge)%>
                <% else %>
                    <%= link_to 'Next Level', challenges_path(update_level: current_user.knowledge_level + 1) %>
                <% end %>
            </div>
        <% end %>
        
    </div>

<% end %>
