<!DOCTYPE html>
<html>
  <head>
    <title>Rubylingo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless @full_page %>
      <%= render "shared/navbar" %>      
    <% end %>
    <%= render "shared/flashes" %>
    <div class="flex-grow-1 <%= "main-container" unless @full_page %>">
      <%= yield %>
    </div>
    <% unless @full_page %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
